{% extends "djangoproject/base.html" %}
    {% block content %}
<h1 xmlns:text-align="http://www.w3.org/1999/xhtml" xmlns:text-align="http://www.w3.org/1999/xhtml"> Reviews </h1>
            {% for post in posts %}
                <article class="media content-section">
           <a class="mr-2" href="{% url 'user-posts'  post.author.username %}" > <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}"> </a>
               <div class="media-body">
                        <div class="article-metadata">
                            <h5>Instructor :<font color="green"> {{post.instructor}} </font></h5>
                            Ratings : {{post.rating}}
                            <p>
                                <small class="text-muted"> Date Posted : {{post.date_posted|date:"F d, Y" }}</small>
                            </p>
                        </div>
                        <h5>Course : {{post.course}}</h5>
                        <p class="article-content"> Comments : {{post.comments}}</p>
                       {% if user.is_authenticated %}

                    <a class="mr-2" href="{% url 'post-detail' post.id %}">View More Detail </a>
                   {% endif %}


                    </div>


                <h5> Institute :<font color="#483d8b"> {{post.institute}} </font></h5>


                </article>
            {% endfor %}

            <div align="center">
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
            {% endif %}
            </div>
{% endblock%}